@import url('https://fonts.googleapis.com/css?family=Oswald|Tomorrow&display=swap');

/*NAVBAR*/

#navbar ul{
background-color: black;
}

#navbar a{
font-family: Tomorrow;
color: white;
}

#navbar a:hover{
color: rgb(8, 110, 136);
}

/*HOME*/

#home-main{
color: black;
font-family: Tomorrow;
}

.home-background{
background-image: url(assets/img/boxer-1984344_1920.jpg);
height: 700px;
background-size:cover;
}

.main-title{
color: white;
font-size: 8vw;
padding-left: 200px;
padding-top: 150px;
}

.main-text{
color: white;
font-size: 2.5vw;
padding-left: 200px;
}

@media only screen and (max-width: 600px) {
    .main-title {
        font-size: 70px;
        padding-left: 50px;
        padding-top: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .main-text {
        font-size: 20px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .home-background {
       height: 500px;
       background-image: url(assets/img/rain-316580_1280.jpg);
       
    }
}

/*ABOUT*/

#about-main{
font-family: Tomorrow;
}

/*PROGRAMMES*/

#programmes-main{
color: black;
font-family: Tomorrow;
}

/*GALLERY*/

/*SIGN UP*/