@import url('https://fonts.googleapis.com/css?family=Oswald|Tomorrow&display=swap');

#navbar{
font-family: Tomorrow;
background-color: black;
}

#navbar a{
color: white;
}

#navbar a:hover{
color: rgb(31, 152, 173);
}

#home-main{
font-family: Tomorrow;
color: black;
}

#programmes-main{
font-family: Tomorrow;
color: black;
}